* {
    margin: 0px;
    padding: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 3, 1fr;
    
}

.grid div:nth-child(1) {
    background-color: darkblue;
    grid-column-start: 1;
    grid-column-end: 4;

}

.grid div {
    background-color: aqua;
    min-height: 100px;
}


