*{
   
    width: 100vw;
    margin: 0%;
}

@media screen and (min-width: 360px){
    .escudo {
        display: block;
        margin: auto;
        width: 100px;
    }

    menu {
        background-color: rgba(0, 0, 0, 0.568);
        border: 0px;
        margin: 0%;

    }
}