* {
    margin: 0%;
}
@media screen and (min-width: 360px){
    

    .escudo {
        display: block;
        margin: auto;
        width: 100px;
    }


    header {
        background-color: rgba(0, 0, 0, 0.884);
        border: 0px;
        margin: 0%;
        padding-bottom: 1px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-image: linear-gradient(to left, rgba(167, 4, 4, 0.63), black);
       
    }

    .logo {
        display: block;
        margin: auto;
        width: 100px;
        margin-bottom: 15px;
    }

    header nav ul a li {
        display: inline-flex;
        list-style-type: none;
        margin-right: 5px;
        margin-left: 15px;
        padding: 7px;
        color: whitesmoke;
        
    }
    nav ul li:hover {
        background-color: rgb(245, 245, 245);
        color: rgba(0, 0, 0, 0.747);
        border-radius: 3px;
        
        
    }

    header nav ul{
        text-align: center;
    }

    #plano-de-fundo{
        background-image: url(imagens/pexels-photo-41257.jpeg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    
    main {
        display: block;
        margin: auto;
        margin-top: 148px;
        padding-bottom: 30px, 10px, 30px, 10px;
        max-width: 600px;
        background-color: rgba(148, 148, 148, 0.801);
        
    }

    main h1, h2 {
        padding-left: 10px;
        padding-top: 15px;
    }

    main p {
        text-align: justify;
        padding: 10px;
        text-indent: 20px;
        line-height: 25px;
    }

    #Saudacoes{ 
        background-color: rgba(0, 0, 0, 0.884);
        color: rgb(170, 170, 170);
        padding: 20px;
    }
    
    footer h1{
        padding: 10px;
    }

    footer p {
        text-indent: 20px;
        line-height: 20px;
    }
}