*{
   
    width: 100vw;
    margin: 0%;
}

@media screen and (min-width: 360px){
    .escudo {
        display: block;
        margin: auto;
        width: 100px;
    }

    header {
        background-color: rgba(0, 0, 0, 0.568);
        border: 0px;
        margin: 0%;

    }
    
    

    p {
        display: block;
        margin: auto;
        width: 100px;
        margin-bottom: 20px;
    }

    nav ul li {
        display: inline;
        text-align: center;
        list-style-type: none;
        margin-right: 20px;
        margin-left: 40px;
    }
}