body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0px;
}


header {
  text-align: center;
  margin-top: 40px;
}

header a, menu {
  margin-top: 40px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  border-radius: 4px;
}

header a:hover {
  background-color: #ee231133;
  color: #d10e0eea;
}

.conteudo {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 120px;
}

.separador {
  position: absolute;
  background-color: #ee2211;
  width: 70px;
  height: 3px;
}

.introducao{
  text-align: right;
  background-color: white;
  padding: 32px;
  margin-left: 40px;
  line-height: 1.7;
}

.introducao a {
  display: inline-block;
  margin-top: 50px;
  background-color: #ee2211;
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}






/*
body {
  background: f0f0f0;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
} 

header img {
  display: block;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 60px;
}



section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  margin-bottom: 180px;
  grid-template-rows: 340px;
  position: relative;
}

.separador {
  width: 60px;
  height: 3px;
  background-color: #ee2211;
  position: absolute;
  top: 30px;
  left: 576px;
}

#nimbus {
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.13);
}

.introducao {
  background-color: white;
  margin-left: 80px;
  border-radius: 4px;
  text-align: right;
  padding: 40px;
}

.descricao-nimbus h1, p {
  line-height: 1.5;
}


*/






