body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0px;
  display: grid;
  justify-content: center;
}


header {
  text-align: center;
  margin-top: 40px;
}

.logo {
  margin-bottom: 40px;
}

header a, menu {
  display: flex;
  flex-wrap: wrap; /*para quebrar o menu, quando diminuir o tamanho da tela*/
  justify-content: center;
  gap: 20px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

header a:hover {
  background-color: #ee231133;
  color: #d10e0eea;
}

.conteudo {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 120px;
  max-width: 1000px;
}

.separador {
  position: absolute;
  background-color: #ee2211;
  width: 60px;
  height: 4px;
  top: 30px;
  right: -30px;
}

.introducao{
  position: relative;
  text-align: right;
  background-color: white;
  padding: 40px;
  display: grid;
  align-content: center;
  justify-items: end;
}

.introducao a {
  background-color: #ee2211;
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.subtitulo {
  padding: 60px;
  text-align: right;
  font-size: 2.7em;
  color: #adadad;
}








/*
body {
  background: f0f0f0;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
} 

header img {
  display: block;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 60px;
}



section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  margin-bottom: 180px;
  grid-template-rows: 340px;
  position: relative;
}

.separador {
  width: 60px;
  height: 3px;
  background-color: #ee2211;
  position: absolute;
  top: 30px;
  left: 576px;
}

#nimbus {
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.13);
}

.introducao {
  background-color: white;
  margin-left: 80px;
  border-radius: 4px;
  text-align: right;
  padding: 40px;
}

.descricao-nimbus h1, p {
  line-height: 1.5;
}


*/






