* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 800;
}

h2 a {
  font-size: 20px;
  font-weight: bolder;
  color: seagreen;
  text-decoration: none;
}

/* página Rio de Janeiro */
p a {
  text-decoration: none;
}

.seçoes-hoje {
  font-size: 20px;
  color: darkred;
}

.seçoes-amanha {
  font-size: 20px;
  color: darkblue;
}
