.container {
    display: flex;
    justify-content: space-between;
    
}

.box1 {
    background-color: black;
    width: 200px;
    height: 200px;
}

p {
    font-size: 2em;
    color: brown;
    
}

.box2 {
    background-color: red;
    width: 200px;
    height: 200px;
}